<main class="mdl-layout__content mdl-color--grey-100">
  <div style="margin-left:40px;margin-right:40px;">
    <h1 style="margin-bottom: 40px;">글수정</h1>
      <%= form_tag "/diary/update/#{@post.id}", method: "post" do %>
        <% if @post.is_private %>
          <div class="radio">
            <label>
              <input type="radio" name="is_private" id="optionsRadios1" value="false"> 공개
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="is_private" id="optionsRadios2" value="true" checked> 비공개
            </label>
          </div>
        <% else %>
          <div class="radio">
            <label>
              <input type="radio" name="is_private" id="optionsRadios1" value="false" checked> 공개
            </label>
          </div>
          <div class="radio">
            <label>
              <input type="radio" name="is_private" id="optionsRadios2" value="true"> 비공개
            </label>
          </div>
        <% end %>
        <div class="form-group">
          <label>Project / Course Title</label>
          <input name="title" type="text" class="form-control" value="<%= @post.title %>">
        </div>
        <div class="form-group">
          <label>Plan</label>
          <textarea name="plan" class="form-control" rows="7" ><%= @post.plan %></textarea>
        </div>
        <div class="form-group">
          <label>Research</label>
          <textarea name="research" class="form-control" rows="7"><%= @post.research %></textarea>
        </div>
        <div class="form-group">
          <label>Act</label>
          <textarea name="act" class="form-control" rows="7" ><%= @post.act %></textarea>
        </div>
        <div class="form-group">
          <label>Observe</label>
          <textarea name="observe_thing" class="form-control" rows="7" ><%= @post.observe_thing %></textarea>
        </div>
        <div class="form-group">
          <label>Evaluate</label>
          <textarea name="evaluate" class="form-control" rows="7"><%= @post.evaluate %></textarea>
        </div>
        <div class="form-group">
          <label>Reflect</label>
          <textarea name="reflect" class="form-control" rows="7" ><%= @post.reflect %></textarea>
        </div>
        <button class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--blue" style="position: fixed;right:30px;bottom:30px; z-index: 9999">
          <i class="material-icons mdl-color-text--white" role="presentation">add</i>
          <span class="visuallyhidden">add</span>
        </button>

      <% end %>
    </div>
  </div>
</main>