<main class="mdl-layout__content mdl-color--grey-100">
  <div id="demo">
    <div class="table-responsive-vertical shadow-z-1">
    <!-- Table starts here -->
    <table id="table" class="table table-hover table-mc-light-blue">
        <thead>
          <tr>
            <th style="text-align:left">항목</th>
            <th style="text-align:left">내용</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="text-align: left;">Title</td>
            <td style="text-align: left"><%= markdown(@post.title).html_safe %></td>
          </tr>
          <tr>
            <td style="text-align: left;">Plan</td>
            <td style="text-align:left"><%= markdown(@post.plan).html_safe %></td>
          <tr>
            <td style="text-align: left;">Research</td>
            <td style="text-align:left"><%= markdown(@post.research).html_safe %></td>
          </tr>
          <tr>
            <td style="text-align: left;">Act</td>
            <td style="text-align:left"><%= markdown(@post.act).html_safe %></td>
          <tr>
            <td style="text-align: left;">Observe</td>
            <td style="text-align:left"><%= markdown(@post.observe_thing).html_safe %></td>
          </tr>
          <tr>
            <td style="text-align: left;">Evaluate</td>
            <td style="text-align:left"><%= markdown(@post.evaluate).html_safe %></td>
          <tr>
            <td style="text-align: left;">Reflect</td>
            <td style="text-align:left"><%= markdown(@post.reflect).html_safe %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="text-center" style="margin-bottom: 30px">
    <% if current_user.id == @post.user_id %>
      <%= link_to '수정', "/diary/edit/#{@post.id}", class: 'btn btn-default' %>
      <%= link_to '삭제', "/diary/delete/#{@post.id}", data: {confirm: "삭제?" }, class: 'btn btn-default' %>
    <% end %>
    <%= link_to   '뒤로가기', :back , class: 'btn btn-default' %>
  </div>
</main>