<main class="mdl-layout__content mdl-color--grey-100">
  <ul class="list-group" style="margin-top:20px;">
    <% date = @posts.first.created_at.to_date %>
    <h4 style="padding-left: 10px;"> <%= date %> </h4>
    <% @posts.each do |post| %>
        <% if date != post.created_at.to_date %>
            <% date = post.created_at.to_date %>
            <h4 style="padding-left: 10px;"> <%= date %> </h4>
            <% end %>



        <a class="recent_post" style=""href="/diary/show/<%=post.id%>">
        <li class="list-group-item" style="margin-left:20px;margin-right:20px;margin-bottom:20px">
          <%= image_tag(post.user.image, size: '40x40', style:'border-radius:3px;') %>
          <%= post.user.name %>           <%= (post.title.size>40) ? post.title.first(40)+"..." : post.title %>
        </li>
        </a>
    <% end %>
  </ul>
</main>

