<main class="mdl-layout__content mdl-color--grey-100">
  <ul id="list" class="list-group" style="margin-top:20px;">
    <% @posts.each do |post| %>
          <li class="list-group-item list-<%=post.id%>" style="margin-left:20px;margin-right:20px;margin-bottom:20px">
            <a class="recent_post" style="" href="/diary/show/<%=post.id%>"></a>
            <%= image_tag(post.user.image, size: '50x50', style:'border-radius:3px;') %>
            <%= (post.title.size>40) ? post.title.first(40)+"..." : post.title %>
            <a style="float: right;margin-top:8px;margin-right:10px"><%= post.created_at.to_date%></a>
          </li>

    <% end %>
  </ul>
</main>

<script>
  $('li').click(function() {
    num = $(this).index()
    $(this).fadeOut(1000, function () {
      $("#list li:eq(0)").before($("#list li:eq(" + num + ")"));
      $(this).fadeIn(1000);

    });
  });
</script>
